#map {
    height: 800px;
    width: 1200px;
    margin: 0 auto;
    z-index: 0;
}

#header {
    position: fixed;
}

#container {
    position: fixed;
    margin-top: 150px;
}

.demo-card-wide.mdl-card {
    width: 640px;
    height: 300px;
}

html,body {
    width: auto;
    padding: 1em 1em;
    background: #222;
}

.mdl-card__actions {
    outline: skyblue solid 5px;
    z-index: 4;
}

#geo-location {
    display:flex;
    margin-top: 10px;
    justify-content: left;
}

.name{
    diplay: flex;
}


.mdl-button {
// outline: red solid 5px;
    margin-left: 10px ;

}
.demo-card-wide {
    height: 200px;
// outline: limegreen 10px solid;
}


.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 64px;
    background-color:indigo;
}

.mdl-card__title-text {
    position: relative;
    top: 6px;

}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}


.mycard {
    height: 350px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mdl-textfield {
    width: 250px;
    margin-right: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}